* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("dorcas.jpg")no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 20px 100px;
    background: rgba(244, 216, 4, 0.336);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.logo {
    font-size: 2em;
    color: #fff;
}

.Navigation a {
    position: relative;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    font-weight: 20;
    margin-left: 20px;
}

.Navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.Navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.Navigation .btnLogin-popup {
    width: 50px;
    height: 20px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.Navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.logo img {
    border: 1px solid white;
    margin-top: 10px;
    border-radius: 10px
}

.wrapper {
    position: relative;
    width: 220px;
    height: 190px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 0px 2px red; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 10px 0;
}

.input-box label {
    position: relative;
    top: 5%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
}

.input-box {}